* {
    margin: 0;
    padding: 0;
    text-align: center;
}
header {
    padding-top: 5%;
    background-color: #111;
    color: aliceblue;
    position: fixed;
    height: 10%;
    width: 100%;
    overflow: hidden;
}
footer{
    background-color: #111;
    color: aliceblue;
}
main {
    padding-top: 15%;
}
table, tr, td {
    margin: auto;
    border: 1px solid;
    border-collapse: collapse;
    padding: 2px;
}
td {
    width: 200px;
}